<!-- <div>
    <h2>List 1</h2>
    <div class="all-cards">
        <div class="card-container" *ngFor="let card of cardsList1">
            <div class="card" [class.transitioning]="card.isInTransition" (click)="flipCard($event)">
                <div class="card-inner" [ngClass]="{ 'is-flipped': card.isFlipped }">
                    <div class="card-front">
                        <img class="card-img" [src]="card.imgFront" alt="" />
                    </div>
                    <div class="card-back">
                        <img class="card-img" [src]="card.imgBack" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <button (click)="moveCard(cardsList1[0], cardsList1, cardsList2)">Move to List 2</button>
</div>

<div>
    <h2>List 2</h2>
    <div class="all-cards">
        <div class="card-container" *ngFor="let card of cardsList2">
            <div class="card" [class.transitioning]="card.isInTransition" (click)="flipCard($event)">
                <div class="card-inner" [ngClass]="{ 'is-flipped': card.isFlipped }">
                    <div class="card-front">
                        <img class="card-img" [src]="card.imgFront" alt="" />
                    </div>
                    <div class="card-back">
                        <img class="card-img" [src]="card.imgBack" alt="" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->

<!-- <div class="wrapper">
    <h2 class="title">Card Game Example</h2>
    <div class="cards">
        <img class="card" (click)="toggleCardFlip($event)" src="./assets/img/cards/Spades 1.png" />
        <img class="card" (click)="toggleCardFlip($event)" src="./assets/img/cards/Hearts 7.png" />
        <img class="card" (click)="toggleCardFlip($event)" src="./assets/img/cards/Diamond 10.png" />
        <img class="card" (click)="toggleCardFlip($event)" src="./assets/img/cards/Spades 13.png" />
    </div>
</div> -->
<div class="big-parent">
    <div class="container">
        <img class="card" style="--i: -4" src="./assets/img/cards/Spades 1.png" />
        <img class="card" style="--i: -3" src="./assets/img/cards/Spades 10.png" />
        <img class="card" style="--i: -2" src="./assets/img/cards/Spades 1.png" />
        <img class="card" style="--i: -1" src="./assets/img/cards/Hearts 2.png" />
        <img class="card" style="--i: -0" src="./assets/img/cards/Diamond 7.png" />
        <img class="card" style="--i: 1" src="./assets/img/cards/Spades 1.png" />
        <img class="card" style="--i: 2" src="./assets/img/cards/Spades 1.png" />
        <img class="card" style="--i: 3" src="./assets/img/cards/Spades 1.png" />
        <img class="card" style="--i: 4" src="./assets/img/cards/Spades 1.png" />
    </div>
</div>
