// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use './app/pages/material-page/material-page.component.theme' as material-page;
@import './app/consts/colors.scss';

@include mat.core();

$indigo-pink-theme: mat.define-light-theme(
    (
        color: (
            primary: mat.define-palette(mat.$grey-palette, 900),
            accent: mat.define-palette(mat.$grey-palette, A200, A100, A400),
            warn: mat.define-palette(mat.$red-palette),
        ),
    )
);
@include mat.all-component-themes($indigo-pink-theme);
@include material-page.theme($indigo-pink-theme);

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    color: var(--secondary-text-color);
}

/* You can add global styles to this file, and also import other style files */

// Containers
.page-container {
    background-color: var(--background-color);
    height: calc(100vh - 60px);
    width: 100%;
    overflow: auto;
}

.flex-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden; // à changer peut etre
}

.grid-page {
    display: grid;
    height: 100%;
    width: 100%;
    gap: 0px 0px;
    grid-template-areas: 'main side';
    // besoin de redefinir
    // grid-template-columns;
    // grid-template-rows;
    // grid-template-areas;
}
.main {
    grid-area: main;
}
.side {
    grid-area: side;
}
.main,
.side {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

// Forms
form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form-group {
    display: flex;
    flex-direction: column;
    margin-bottom: 25px;
}
.form-label {
    margin-bottom: 10px;
    color: var(--normal-text-color);
}
.form-input {
    border-radius: 15px;
    background-color: var(--input-color);
    color: var(--input-text-color);
    border: none;
    font-size: 15px;
    font-weight: 500;
    padding: 15px;

    &:-webkit-autofill {
        -webkit-box-shadow: 0 0 0px 1000px var(--input-color) inset !important;
        -webkit-text-fill-color: var(--input-text-color) !important;
        border: 1px solid transparent;
    }

    &::placeholder {
        color: var(--input-text-color) !important;
    }

    &::-webkit-search-cancel-button {
        -webkit-appearance: none;
        appearance: none;
    }
}

// Text
.title {
    font-size: 30px;
    font-weight: 400;
    color: var(--primary-text-color) !important;
}

h1 {
    font-size: 30px;
    font-weight: 600;
    color: var(--primary-text-color) !important;
}

h2 {
    font-size: 24px;
    font-weight: 500;
    color: var(--normal-text-color) !important;
}
.name {
    color: var(--primary-text-color);
}
.id {
    font-size: 14px;
}

// Buttons
.primary-button {
    // Bouton bleu grand
    background-color: var(--main-button) !important;
    color: var(--main-button-text-color) !important;
    font-size: 18px !important;
    font-weight: 300px !important;
    border-radius: 15px !important;
    border: none;
}
.secondary-button {
    // bouton gris
    background-color: var(--regular-button) !important;
    color: var(--primary-text-color) !important;
    font-size: 15px !important;
    border-radius: 13px !important;
    font-weight: 200px !important;
    border: none;
}
.accent-button-1 {
    // bouton vert
    background-color: var(--accent-color-1) !important;
    color: var(--main-button-text-color) !important;
    font-size: 20px !important;
    border-radius: 15px !important;
    font-weight: 600 !important;
    border: none;
}
.button-icon-parent {
    // doit etre un div qui contien un bouton et un icon
    position: relative;
}
.button-icon-send,
.button-icon {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    //right: 20px; // à changer par left par exemple
}

// il faut que l'element soit :
// Tous les parents container : overflow: auto
// parent {
//     display: flex;
//     overflow: auto;
// }
.scrollable {
    flex-grow: 1;
    &::-webkit-scrollbar {
        width: 10px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgb(112, 112, 112);
        border-radius: 6px;
    }

    &::-webkit-scrollbar-track {
        background-color: rgb(170, 170, 170);
        border-radius: 6px;
    }
}

// Icons
.logo {
    height: 40px;
    width: 40px;
}
.user-icon {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    object-fit: cover;
}
.profile-icon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    object-fit: cover;
}
.moreIcon {
    margin-right: 5px;
    color: var(--normal-text-color);
    cursor: pointer;
}

// Mat menu
.menu {
    margin-top: 5px;
    background: var(--input-color) !important;
    border-radius: 15px !important;
}
.slide-element {
    margin: 8px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.slide-label {
    min-width: 90px;
    color: var(--primary-text-color);
}
.slide-toggle {
    flex-grow: 1;
}

// Animations
.zoom-animation:hover {
    transition: all 0.1s linear;
    transform: scale(1.2);
}

.pointer-click {
    cursor: pointer;
}

// remove base styles
a,
a:visited {
    color: var(--secondary-text-color);
}

textarea,
input {
    outline: none;
}

/// Game css
///
.grid-main-area {
    width: 100%;
    height: calc(100vh - 60px);
    display: grid;
    grid-template-rows: 50px 1fr 150px;
}

// Actions
.actions-area {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 10px;
}

.growing-button {
    transition:
        transform 0.3s ease,
        background-color 0.3s ease;
}
.growing-button:hover {
    transform: scale(1.05);
    background-color: #333 !important;
    color: white;
}
#quit-button {
    background-color: rgb(203, 0, 0) !important;
}
.deactivate-button {
    background-color: #333 !important;
    opacity: 0.1;
}

// Table
.table-area {
    background-image: url('./assets/img/table.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
}

.player-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 250px;
    height: 100%;
    box-sizing: border-box;
}
.player-slot {
    display: flex;
    flex-direction: column;
    align-items: center;
    //border: solid 3px green;
}
.placeholder-icon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 2px dashed #ccc;
}
.game-user-icon {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    margin-bottom: 5px;
}
.name {
    color: var(--accent-color-2) !important;
}

#start {
    justify-content: start !important;
}

#end {
    justify-content: end !important;
}

// Cards
.cards-area {
    height: 150px;
    position: relative;
}
.cards-container {
    position: absolute;
    margin-top: 20px;
    left: 50%;
    transform: translate(-50%, -50%);
    width: max-content;
    display: flex;
    justify-content: center;
    align-items: center;
}
.cards-container .card {
    width: 71px;
    height: 93px;
    cursor: pointer;
    transition: 0.5s;
    position: absolute;
    top: 0;
}
.cards-container:hover .card {
    transform: rotate(calc(var(--i) * 5deg)) translate(calc(var(--i) * 50px), -15px);
}
.cards-container .card:active {
    translate: calc(var(--i) * 5px) -15px;
    z-index: 100;
}

.cards-active .card {
    transform: rotate(calc(var(--i) * 5deg)) translate(calc(var(--i) * 50px), -15px);
}
.cards-active .card:hover {
    translate: calc(var(--i) * 5px) -15px !important;
    z-index: 100;
}

// Chat CSS
.chat-main-area {
    width: 100%;
    height: calc(100vh - 60px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.chat-container {
    width: 90%;
    height: 80%;
    border-radius: 30px;
    padding: 10px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    overflow-y: auto;

    background-color: var(--regular-button) !important;
}
.chat-message {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
}

.message-content {
    background-color: #ffffff;
    color: black;
    border-radius: 20px;
    padding: 10px;
    max-width: 80%;
}

.message-sender {
    display: flex;
    flex-direction: column;
    align-self: flex-start;
    font-size: 12px;
    color: #747474;
    margin-left: 7px;
}

.yourPlayer > .message-content {
    background-color: var(--main-button) !important;
    color: var(--main-button-text-color) !important;
    display: flex;
    flex-direction: column;
    align-self: flex-end;
}

.yourPlayer > .message-sender,
.yourPlayer {
    align-self: flex-end;
}

.yourPlayer > .message-sender {
    margin-left: 0px;
    margin-right: 7px;
}

// chat input
.chat-input-area {
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 10px;
}

.message-input {
    width: 100%;
    flex: 1;
    display: flex;
}

.message-input > .form-input {
    width: calc(100% - 10px);
    border-radius: 30px;
    text-indent: 10px;
}
.button-icon-send {
    border: none;
    width: auto;
    height: auto;
    background: none;
    color: var(--input-text-color);
    right: 15px;
    display: flex;
    align-items: center;
}

#send-icon {
    transform: scale(1.8);
    cursor: pointer;

    &:hover {
        transform: scale(2);
        transition: transform 0.3s ease;
    }
}
