<app-header></app-header>
<div class="page-container">
    <div class="flex-page">
        <h1>Create your account</h1>

        <div class="button-icon-parent selectIcon">
            <img src="./assets/img/profile-icons/{{ chosenIcon }}.png" class="choosenIcon" (click)="openIcons()" />
            <fa-icon class="penIcon" [icon]="penIcon"></fa-icon>
        </div>

        <form [formGroup]="createForm" (ngSubmit)="onSubmit()">
            <div class="name-area">
                <div class="form-group">
                    <label class="form-label">First name</label>
                    <input
                        matInput
                        class="form-input form-small"
                        type="firstName"
                        placeholder="Enter first name"
                        formControlName="firstName"
                        name="firstName"
                        [ngClass]="{ 'placeholder-error': createForm.get('firstName')?.touched && createForm.get('firstName')?.invalid }"
                    />
                </div>
                <div class="form-group">
                    <label class="form-label">Last name</label>
                    <input
                        matInput
                        class="form-input form-small"
                        type="lastName"
                        placeholder="Enter last name"
                        formControlName="lastName"
                        name="lastName"
                        [ngClass]="{ 'placeholder-error': createForm.get('lastName')?.touched && createForm.get('lastName')?.invalid }"
                    />
                </div>
            </div>
            <div class="form-group">
                <label class="form-label">Username</label>
                <input
                    matInput
                    class="form-input"
                    type="username"
                    placeholder="Enter username"
                    formControlName="username"
                    name="username"
                    [ngClass]="{ 'placeholder-error': createForm.get('username')?.touched && createForm.get('username')?.invalid }"
                />
            </div>
            <div class="form-group">
                <label class="form-label">Email</label>
                <input
                    matInput
                    class="form-input"
                    type="email"
                    placeholder="Enter email"
                    formControlName="email"
                    name="email"
                    [ngClass]="{ 'placeholder-error': createForm.get('email')?.touched && createForm.get('email')?.invalid }"
                />
            </div>
            <div class="password-area">
                <div class="form-group">
                    <label class="form-label">Password</label>
                    <div class="button-icon-parent">
                        <input
                            [type]="isPasswordVisible1 ? 'text' : 'password'"
                            class="form-input form-small"
                            placeholder="Create password"
                            formControlName="password"
                            name="password"
                            [ngClass]="{ 'placeholder-error': createForm.get('password')?.touched && createForm.get('password')?.invalid }"
                        />
                        <fa-icon
                            class="button-icon"
                            [icon]="isPasswordVisible1 ? faEye : faEyeSlash"
                            (click)="isPasswordVisible1 = !isPasswordVisible1"
                        ></fa-icon>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-label">Confirm password</label>
                    <div class="button-icon-parent">
                        <input
                            [type]="isPasswordVisible2 ? 'text' : 'password'"
                            class="form-input form-small"
                            placeholder="Verify password"
                            formControlName="passwordVerification"
                            name="passwordVerification"
                            [ngClass]="{
                                'placeholder-error':
                                    createForm.get('passwordVerification')?.touched && createForm.get('passwordVerification')?.invalid
                            }"
                        />
                        <fa-icon
                            class="button-icon"
                            [icon]="isPasswordVisible2 ? faEye : faEyeSlash"
                            (click)="isPasswordVisible2 = !isPasswordVisible2"
                        ></fa-icon>
                    </div>
                </div>
            </div>

            <button mat-button type="submit" class="primary-button">Create account</button>
        </form>

        <small><a routerLink="/login" class="router-link">Already have an account? go to login</a></small>
    </div>
</div>
