<app-header></app-header>
<div class="page-container">
    <div class="grid-page">
        <div>
            <app-thirty-one-waiting [yourPlayer]="yourPlayer" *ngIf="gameState === 'waiting'"></app-thirty-one-waiting>
            <app-thirty-one-game [yourPlayer]="yourPlayer" *ngIf="gameState === 'game'"></app-thirty-one-game>
            <app-thirty-one-results *ngIf="gameState === 'results'"></app-thirty-one-results>
        </div>
        <app-chat [chats]="chats" [yourUsername]="yourPlayer.username" (messageSent)="newText($event)"></app-chat>
    </div>
</div>
