<div id="main-container">
    <h1>Welcome to Poly Games</h1>
    <div class="description">Play classic games like Thirty One, Uno and blackjack with friends!</div>

    <ul id="main-navigation">
        <li class="nav-item" [ngClass]="{ active: selectedComponent === 'games' }">
            <a class="pointer-click" (click)="selectedComponent = 'games'">Games</a>
        </li>
        <li class="nav-item" [ngClass]="{ active: selectedComponent === 'tables' }">
            <a class="pointer-click" (click)="selectedComponent = 'tables'">Tables</a>
        </li>
    </ul>

    <div id="separation-line"></div>

    <div *ngIf="selectedComponent === 'games'" class="scrollable games-container">
        <div class="chess-container game-container">
            <div class="game-title">Thirty One</div>
            <div class="game-description">Play a card game where you have to get 31 points</div>
            <div>
                <button mat-button class="accent-button-1" (click)="createTable('thirty-one')">Create table</button>
                <button mat-button class="accent-button-1" (click)="thirtyOneRules()">Rules</button>
            </div>
        </div>
        <div class="uno-container game-container">
            <div class="game-title">Uno</div>
            <div class="game-description">Join a table and play the classic card game Uno with friends</div>
            <div>
                <button mat-button class="accent-button-1" (click)="createTable('uno')">Create table</button>
                <button mat-button class="accent-button-1" (click)="unoRules()">Rules</button>
            </div>
        </div>
        <div class="blackjack-container game-container">
            <div class="game-title">Blackjack</div>
            <div class="game-description">Test your luck in a fast-paced game of 21 against a dealer</div>
            <div>
                <button mat-button class="accent-button-1">Create table</button>
                <button mat-button class="accent-button-1">Rules</button>
            </div>
        </div>
    </div>
    <div *ngIf="selectedComponent === 'tables'" class="scrollable main-tables-container">
        <app-tables-list></app-tables-list>
    </div>
</div>
